#join-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    border: 1px solid;
    transition: 0.2s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#join-button:hover {
    background-color: black;
    color: white;
    border-color: white;
    box-shadow: 0 0 15px black;
}

#update-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}